<div class="remove-container container-block">
  <h2 class="container-block-title">
    Academic
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://scholar.google.com/citations?user=mUPk_wQAAAAJ&hl=en">Google Scholar</a></li>
     <li><a class="github-button" href="https://www.researchgate.net/profile/Ali-Yazbek-2/amp" data-icon="octicon-star" data-show-count="true" aria-label="Star TheGreatFable/Ali_CV on GitHub">ResearchGate</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div><!--//About-->
